<div class="container">
  <!-- <div class="row justify-content-between">
    <div class="col-lg-6">
      <h4 class="pb-3 fs-18">Active Campaigns</h4>
      <div class="row">
        <div class="col-lg-6">
          <app-bar-chart [labels]="['Pending','Approved','Published','Declined']" [valuesLabel]="'Proposlas'"
            [values]="[3,4,4,6]"></app-bar-chart>
          <div class="card shadow px-2 py-4 text-center">
            <div class="img-div">
              <img src="assets/mi.png" width="100%">
            </div>
            <h6 class="text-aqua py-3">Featured store</h6>
            <div class="w-50 mx-auto mb-3">
              <img src="assets/Bitmap.png" height="90" alt="">
            </div>
            <p class="text-grey text-elipsis fs-14">Lyft is an on-demand transportation company based in
              San Francisco,
              California.</p>
            <div class="img-div-bottom">
              <div>
                <h6>50k</h6>
                <p>product sold</p>
              </div>
              <div>
                <h6><i class="fas fa-star"></i>4.6</h6>
                <p>store Ratting</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card shadow px-2 py-4 text-center">
            <div class="img-div">
              <img src="assets/apple.png" width="100%">
            </div>
            <h6 class="text-aqua py-3">Featured store</h6>
            <div class="w-50 mx-auto mb-3">
              <img src="assets/bit2.png" height="90" alt="">
            </div>
            <p class="text-grey text-elipsis fs-14">Dropbox is a file hosting service that offers cloud
              storage,
              file
              synchronization, a personal cloud.</p>
            <div class="img-div-bottom">
              <div>
                <h6>50k</h6>
                <p>product sold</p>
              </div>
              <div>
                <h6><i class="fas fa-star"></i>4.6</h6>
                <p>store Ratting</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 pl-3">
      <h4 class="fs-18 pb-3">Chat</h4>
      <div class="card shadow px-4 py-3 mb-3">
        <div ngbDropdown class="nav-item dropdown dropdown-user mb-3">
          <a href="javascript:void(0)" ngbDropdownToggle id="dropdownBasic1"
            class="navbar-nav-link d-flex align-items-center">
            <span>Recent</span>
            <span><i class="fas fa-caret-down pl-2 text-light-blue"></i></span>
          </a>
          <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a href="javascript:void(0)" ngbDropdownItem class="dropdown-item"><i class="icon-user-plus"></i> link
              here</a>
            <div class="dropdown-divider"></div>
            <a href="javascript:void(0)" ngbDropdownItem class="dropdown-item"><i class="icon-cog5"></i> link here</a>
            <a href="javascript:void(0)" ngbDropdownItem class="dropdown-item"><i class="icon-switch2"></i> link
              here</a>
          </div>
        </div>
        <div class="profile d-flex py-2 text-align-center">
          <div class="profile-img">
            <img src="assets/Plate.png">
          </div>
          <div class="name-status">
            <h6 class="fs-14 text-grey mb-0">Annie Lynch</h6>
            <h6 class="fs-16 text-blue mb-0">Aliquam erat volutpat</h6>
            <p class="fs-14 text-grey pt-2 text-elipsis mb-2">
              Donec vitae enim eleifend, pulvinar lacus id, faucibus sapien. Nulla trisue... Nulla
              pulvinar ex id orci tempor, id
              accumsan metus pretium. Proin magna...
            </p>
          </div>
          <div class="ml-auto">
            <div class="d-flex">
              <img src="assets/Paperclip.png" class="pr-2">
              <span class="badge badge-pill badge-primary">2:12 PM</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card shadow px-4 py-3">
        <div ngbDropdown class="nav-item dropdown dropdown-user mb-3">
          <a href="javascript:void(0)" ngbDropdownToggle id="dropdownBasic1"
            class="navbar-nav-link d-flex align-items-center">
            <span>Recent</span>
            <span><i class="fas fa-caret-down pl-2 text-light-blue"></i></span>
          </a>
          <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a href="javascript:void(0)" ngbDropdownItem class="dropdown-item"><i class="icon-user-plus"></i> link
              here</a>
            <div class="dropdown-divider"></div>
            <a href="javascript:void(0)" ngbDropdownItem class="dropdown-item"><i class="icon-cog5"></i> link here</a>
            <a href="javascript:void(0)" ngbDropdownItem class="dropdown-item"><i class="icon-switch2"></i> link
              here</a>
          </div>
        </div>
        <div class="profile d-flex py-2 text-align-center">
          <div class="profile-img">
            <img src="assets/Plate.png">
          </div>
          <div class="name-status">
            <h6 class="fs-14 text-grey mb-0">Annie Lynch</h6>
            <h6 class="fs-16 text-blue mb-0">Aliquam erat volutpat</h6>
            <p class="fs-14 text-grey pt-2 text-elipsis mb-2">
              Donec vitae enim eleifend, pulvinar lacus id, faucibus sapien. Nulla trisue... Nulla
              pulvinar ex id orci tempor, id
              accumsan metus pretium. Proin magna...
            </p>
          </div>
          <div class="ml-auto">
            <div class="d-flex">
              <img src="assets/Paperclip.png" class="pr-2">
              <span class="badge badge-pill badge-primary">2:12 PM</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-md-12">
      <h4 class="pb-3 fs-18">Approved Campaigns</h4>
    </div>
    <div class="col-md-3">
      <div class="card22 text-center"></div>
      <h6><img src="assets/insta.png" height="20" alt=""> &nbsp; Eco Verde</h6>
    </div>
  </div> -->

  <div class="row my-3" *ngIf="result && !isLoader">
    <div class="col-md-12">
      <h4 class="pb-3 fs-18">Campaigns Stats</h4>
      <ul class="state">
        <li>
          <app-dashboard-stat-card
            [label]="'Active Campaigns'"
            [value]="result.activeCampaigns | shortNumber"
            [icon]="'../../assets/reach.png'"
          >
          </app-dashboard-stat-card>
        </li>
        <li>
          <app-dashboard-stat-card
            [label]="'Active Influencer Campaigns'"
            [value]="result.activeInfluencerCampaigns | shortNumber"
            [icon]="'../../assets/reach.png'"
          >
          </app-dashboard-stat-card>
        </li>
        <li>
          <app-dashboard-stat-card
            [label]="'Active ShoutOut Campaigns'"
            [value]="result.activeShoutOutCampaigns | shortNumber"
            [icon]="'../../assets/reach.png'"
          >
          </app-dashboard-stat-card>
        </li>
      </ul>
    </div>
  </div>

  <div class="row my-3" *ngIf="result && !isLoader">
    <div class="col-md-12">
      <h4 class="pb-3 fs-18">Proposals Stats</h4>
      <ul class="state">
        <li>
          <app-dashboard-stat-card
            [label]="'Total Proposals'"
            [value]="result.totalProposals | shortNumber"
            [icon]="'../../assets/dashboard/file-alt-solid.svg'"
          >
          </app-dashboard-stat-card>
        </li>

        <li>
          <app-dashboard-stat-card
            [label]="'Approved Proposals'"
            [value]="result.totalApprovedProposals | shortNumber"
            [icon]="'../../assets/dashboard/file-alt-solid.svg'"
          >
          </app-dashboard-stat-card>
        </li>
        <li>
          <app-dashboard-stat-card
            [label]="'Published Proposals'"
            [value]="result.totalPublishedProposals | shortNumber"
            [icon]="'../../assets/dashboard/file-alt-solid.svg'"
          >
          </app-dashboard-stat-card>
        </li>
      </ul>
    </div>
  </div>
</div>
<app-loader *ngIf="isLoader"></app-loader>
<!-- <li>
  <div class="state-card">
    <h6 class="fs-16 text-blue mb-3 text-right">Total Spent</h6>
    <div class="d-flex">
      <img src="assets/spent.png" alt="">
      <div class="ml-auto">
        £665
      </div>
    </div>
  </div>
</li>
<li>
  <div class="state-card">
    <h6 class="fs-16 text-blue mb-3 text-right">Total Reach</h6>
    <div class="d-flex">
      <img src="assets/reach.png" alt="">
      <div class="ml-auto">
        1,303
      </div>
    </div>
  </div>
</li>
<li>
  <div class="state-card">
    <h6 class="fs-16 text-blue mb-3 text-right">Total Impressions</h6>
    <div class="d-flex">
      <img src="assets/impression.png" alt="">
      <div class="ml-auto">
        2,506
      </div>
    </div>
  </div>
</li>
<li>
  <div class="state-card">
    <h6 class="fs-16 text-blue mb-3 text-right">Total Reach</h6>
    <div class="d-flex">
      <img src="assets/reach.png" alt="">
      <div class="ml-auto">
        1,303
      </div>
    </div>
  </div>
</li> -->
<!-- <li>
    <div class="state-card">
      <h6 class="fs-16 text-blue mb-3 text-right">Total Impressions</h6>
      <div class="d-flex">
        <img src="../../assets/impression.png" alt="">
        <div class="ml-auto">
          2,506
        </div>
      </div>
    </div>
    </li> -->
