.avatar-preview {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 100%;
  overflow: hidden;
  border: 12px solid #fff;
  -webkit-box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
}
