.list{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  .list li {
    padding-left: 20px;
  }
  .list li a{
    font-weight: 500;
    color: #242F57;
    font-size: 18px;
    cursor: pointer;
  }
  .list li a.active{
    font-weight: 500;
    color: #10DD79;
    font-size: 18px;
  }